  /* LOGIN */
  .login-container {
    justify-content: center;
    width: 100%;
    display: flex;
    align-items: center;
    border-color: aliceblue;
    border-radius: 1em;
    position: fixed;
    padding-top: 50px;
  }
  
  .login-box {
    width: 35%;
    justify-content: center;
    padding: 70px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #EEEEEE;
    margin-top: 100px;
  }
  
  .username {
    justify-content: center;
    display: flex;
    padding: 1px;
    width: 85%;
  }
  
  .login-username {
    justify-content: center;
    display: flex;
    padding: 1px;
    width: 100%;
  }
  
  .password {
    justify-content: center;
    display: flex;
    padding: 1px;
    width: 100%;
  }
  
  .btn {
    margin-top: 30px;
    margin-bottom: 30px;
    justify-content: center;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #a3a2a2;
    color: white;
    border-style: none;
    font-size: 1em;
    width: 85%;
    background-color: #06113C;
  }
  
  .login-btn {
    margin-top: 30px;
    margin-bottom: 30px;
    justify-content: center;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #a3a2a2;
    color: white;
    border-style: none;
    font-size: 1em;
    width: 100%;
    background-color: #00ADB5;
  }
  
  .register-btn {
    justify-content: center;
    padding: 10px;
    color: #00ADB5;
    border-style: none;
    font-size: 1em;
    width: 100%;
  }
  
  .register-btn:hover {
    color: rgba(57, 101, 189, 0.9)
  }
  
  .register-btn.pointer {
    cursor: pointer;
  }
  
  .btn:hover{
    background-color: rgba(57, 101, 189, 0.9)
  }
  
  .login-btn:hover{
    background-color: rgba(57, 101, 189, 0.9)
  }
  
  .input {
    padding: 10px;
    width: 100%;
    color: #06113C;
  }
  
  .input::placeholder{
    width: 100%;
    color: #06113C;
  }
  
  .input:hover {
    background-color: rgb(236, 237, 241);
  }
  